body
{
	margin:0;
	padding: 0;
	background-image: url("images/wa2.jpg");
	background-size:cover;

}
h1
{
	font-family: 'Righteous', cursive;
	margin-left: 33%;
	color: white;
	font-size: 50px;	
}


article
{
	color: white;
	height: 100px; width: 200px;
}


header
{
	display: flex;
	
}



.sidebar {

  font-family: 'Righteous', cursive;
  width: 200px;
  background-color: #128c7e;
  height: 25%;
  overflow: auto;
  box-shadow: 2px 2px 2px white;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.cadre
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 5px;

}



.logo
{
	
	border-radius: 10%;
	width: 200px;
	display: flex;
	justify-content: center;
	margin-left: 45%;

  
}
.container 
{
	position: relative;
  	width: 50%;
}

.image {
  margin-left: 80%;
  display: block;
  width: 40%;
  height: auto;
  border-radius: 10%;
  box-shadow: 3px 3px 3px white;
}

.overlay {
	border-radius: 10%;
	margin-left: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #075e54;
  overflow: hidden;
  width: 40%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
	font-family: 'Righteous', cursive;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.PIC
{
	height: 500px; width: 100%;
}

.cadre3
 {
	position:absolute;
 }

.Style5 
{
	position:absolute;
	left: 18px;
	top: 31px;
	font-family: 'Righteous', cursive; 
	font-size: 36px;
	color:white;
}
.cadre3 p
{
	margin-top: 5%;
	width: 20%;
	text-align: right;
}

footer
{
	position:absolute;
	margin-top: 26%;
	background-color:#128c7e;
	height: 55px; width: 100%;
	text-align: center;
}
footer a
{
	font-family: 'Righteous', cursive;
  font-size: 30px;
  text-align: center;
  color: white;
}

#anim:hover{
    animation: trans ;
    animation-duration :1.5s;
    animation-timing-function : ease-in-out;
    animation-delay :0s;
    animation-iteration-count: 1; 
    animation-fill-mode :forwards;
}


@keyframes trans {
    0% {transform: scale(1, 1) rotate(0deg); }
    60%{transform: scale(1, 1) rotate(360deg) ; }
    80%{transform: scale(1.3, 1) rotate(360deg) ; }
    90%{transform: scale(1.3, 1) rotate(360deg)
    100%{transform: scale(1) rotate(0deg) ; }
}

